/*
    ============
    GOOGLE FONTS
    ============

    font-family: 'Zilla Slab', serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Space Mono', monospace;
*/



/*
    ======
    GLOBAL
    ======
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Zilla Slab', serif;
    padding-bottom: 50px;
    font-size: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'PT Sans', sans-serif;
}



/*
    ========================
    MAIN LAYOUT SEGMENTATION
    ========================
*/
#nav-div {
    background-color: rgb(70, 70, 70);
    margin: 5px 0;
}

#content-div {
}

#foot-div {
    color: white;
    background-color: rgb(70, 70, 70);
    position: absolute;
    left:0;
    bottom: 0;
    height: 50px;
    width: 100%;
    overflow: hidden;
}



/* =======================
   MORE SPECIFFIC RULESETS - BILO BI MI DALEKO LAKSE DA KUCAM NA SRPSKOM< AL' AJDE :D
   ======================= */
header, nav, main, footer {
    margin: 0 auto;
    width: 90%;
    min-width: 600px;
    max-width: 900px;
}

header {
    height: 150px;
    position: relative;
}

header h1 {
    display: none;
}

header img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right:0;
    margin: auto;
}

nav {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0;
    padding: 0;
}

nav li a {
    color: white;
    font-size: 1.4em;
    display: inline-block;
    margin:0;
    padding: 0 40px;
    line-height: 40px;
    text-decoration: none;
    transition: 0.2s all;
}

nav li a:hover {
    background-color: white;
    color: rgb(70, 70, 70);
}

nav li a#current {
    background-color: white;
    color: rgb(70, 70, 70);
}

main {
    padding: 30px;
}

main section {
    margin: 10px;
}

main section h3 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 2.5em;
    color: rgb(70, 70, 70);
}

main section p {
    line-height: 1.5em;
    font-size: 1.6em;
    padding-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(30, 30, 30);
}

main section p#db-mod {
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Space Mono', monospace;
    color: black;
    font-size: 1.1em;
}

footer p {
    font-weight: bold;
    font-size: 0.9em;
}

.hidden {
    display: none;
}

footer {
    font-family: 'PT Sans', sans-serif;
    font-size: 1.5em;
    text-align: center;
    line-height: 50px;
}